<!doctype html>
<html>
  <head>
    <title>fake fone... who dis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  </head>

  <body>
    <div id="fullpage">
      <div></div>
      <div id="wrapper">
        <div>
          <form action="/send_text" method="POST" class="form-text">
            <div>
              <input
                type="text"
                name="phone"
                required
                placeholder="(510) 555 5555"
                class="form-control rounded-top">
            </div>
            <div>
              <textarea
                name="message"
                required
                placeholder="hi from my fake fone"
                rows="4"
                class="form-control rounded-none">
              </textarea>
            </div>
            <div>
              <input
                type="submit"
                value="send text"
                class="btn btn-primary btn-block rounded-bottom">
            </div>
          </form>
        </div>
      </div>
      <div></div>
    </div>

  </body>
</html>